<div class="toolbar">
    <div class="left">
        <h1>Business Rule Generator</h1>
    </div>
    <div class="middle" *ngIf="checkPage()">
        <a routerLink="/define" [ngClass]="{'active': define}" (click)="setDefine(true)">Define</a>
        <a routerLink="/manage" [ngClass]="{'active': !define}" (click)="setDefine(false)">Manage</a>
    </div>
    <div class="right">
        <button (click)="minApp()">—</button>
        <button (click)="quitApp()" class="exit">✕</button>
    </div>
    <div class="right">
        <button routerLink="/" class="log" *ngIf="checkPage()" (click)="resetCreds()" class="size material-icons">exit_to_app</button>
    </div>
</div>