html, body {
    margin: auto;
    padding: auto;
    height: 100%;
}

.errorToast {
    font-size: 13px;
    border-left: 3px solid red;
}

.okToast {
    font-size: 13px;
    border-left: 3px solid green;
}

pre {
    border: none;
    padding: 1em !important;
    overflow: auto;
    font-size: 14px;
}